<h3>Your meals history</h3>
<br>
<h1>Meals:</h1>
<div class="row">
  <div class="col-9">
    <br>
    <% if current_user.user? %>
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Type</th>
        <th scope="col">Meal</th>
        <th scope="col">Calories</th>
        <th colspan="3" class="text-center">Actions</th>
      </tr>
      </thead>
        <tbody>
          <% @user_meals.each do |meal| %>
            <tr>
              <td><%= meal.date %></td>
              <td><%= meal.meal_type %></td>
              <td><%= meal.name %></td>
              <td><%= meal.calories %></td>
              <td><%= link_to 'Show', meal_path(meal) %></td>
              <td><%= link_to 'Edit', edit_meal_path(meal) %></td>
              <td><%= link_to 'Destroy', meal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
       </tbody>
    </table>
    <% else %>
      <table class="table table-bordered table-hover">
        <thead>
        <tr>
          <th scope="col">User</th>
          <th scope="col">Date</th>
          <th scope="col">Type</th>
          <th scope="col">Meal</th>
          <th scope="col">Calories</th>
          <th colspan="3" class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody>
        <% Meal.all.each do |meal| %>
          <tr>
            <td><%= meal.user.email %></td>
            <td><%= meal.date %></td>
            <td><%= meal.meal_type %></td>
            <td><%= meal.name %></td>
            <td><%= meal.calories %></td>
            <td><%= link_to 'Show', meal_path(meal) %></td>
            <td><%= link_to 'Edit', edit_meal_path(meal) %></td>
            <td><%= link_to 'Destroy', meal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
  </table>
</div>
<%= link_to "Back to today's meals", meals_path %>
<br>
<%= link_to "Filter data", filter_path %>
